version: '3.9'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: ruby-bot-app
    command: bundle exec ruby app.rb
    stdin_open: true
    tty: true
    volumes:
      - .:/app
    env_file:
      - .env
    networks:
      - localdev

networks:
  localdev:
    name: localdev
